<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="resume-section-content">
    <h2 class="mb-5">Skills</h2>
    <div class="subheading mb-3">Programming Languages & Tools</div>
    <button sec:authorize="isAuthenticated()" th:onclick="'location.href='+'\'/admin/save/skills/\''" class="btn btn-outline-info my-2 my-sm-2 btn-sm" type="submit">추가하기</button>
    <!-- 프로래밍 스킬 넣을 곳-->
    <ul class="fa-ul mb-0">
        <li th:each=" SkillList : ${skills}">
            <span class="text-black" th:text="${SkillList.getName()}"></span><br>
            <button sec:authorize="isAuthenticated()" th:onclick="'location.href='+'\'/admin/update/skills/'+${SkillList.getId()}+'\''" class="btn btn-outline-info my-2 my-sm-2 btn-sm" type="submit">수정하기</button>
        </li>
    </ul>
</div>
</html>