
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="fragments/commonHead::commonHead"></th:block>
</head>


<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Clarence Taylor</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="" /></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skill">Skills</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
        </ul>
    </div>

    <div class="mb-3">
        <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
            <button sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
        </form>
        <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/admin/info}">
            <button sec:authorize="isAuthenticated()" th:href="@{/admin/info}" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Admin</button>
        </form>
        <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/login}">
            <button sec:authorize="isAnonymous()" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login</button>
        </form>
    </div>
    <div class="mb-3 font-weight-bold">
        <span class="text-dark" th:text="${viewCnt[0]}">Total</span>
        <span class="text-dark">/</span>
        <span class="text-success" th:text="${viewCnt[1]}">Yesterday</span>
        <span class="text-dark">/</span>
        <span class="text-danger" th:text="${viewCnt[2]}">Today</span>
    </div>
</nav>
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div id="basic-information"></div>
    </section>


    <hr class="m-0" />
    <!-- 경력-->
    <section class="resume-section" id="experience">
        <div id="careers"></div>
    </section>


    <hr class="m-0" />
    <!-- 학력-->
    <section class="resume-section" id="education">
        <div id="educations"></div>
    </section>

    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skill">
        <div id="skills"></div>
    </section>


    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
            <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
        </div>
    </section>
    <hr class="m-0" />


    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div id="certificates"></div>
    </section>
</div>

<div th:replace="fragments/footer"></div>
<script src="js/scripts.js"></script>
<script src="js/homeLoad.js"></script>
</body>
</html>
